@model TurboRango.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}
<div class="panel panel-default">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Altere suas configureções aqui!!</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Senha:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Troque sua senha", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>