<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Server=015c83d4-0e95-4244-b9e9-a4ad00368858.sqlserver.sequelizer.com;Database=db015c83d40e954244b9e9a4ad00368858;User ID=skqwmszgrecnaebf;Password=QbB3h4YmJ6uvnQkf6aZX7ScVWY3NPkyxBYNg5mfWHAsFwHca88Hatno78PfrbjDx;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
