@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TurboRango</h1>
    <p class="lead">Bem vindo! Está com fome?</p>
    <p>@Html.ActionLink("Começar »", "Index", "Sorteios", null, new { @class = "btn btn-primary btn-lg" })</p>

</div>