@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}
<div class="panel panel-default">
    <h1 class="text-danger">Erro.</h1>
    <h2 class="text-danger">Ocorreu um erro ao processar seu pedido.</h2>
</div>
